@tailwind base;
@tailwind components;
@tailwind utilities;

/* 크롬, 사파리, 엣지 (Webkit 계열) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 파이어폭스 */
input[type=number] {
  -moz-appearance: textfield;
}